body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #eef2f3;
}

h1 {
    text-align: center;
    color: #222;
}

p {
    text-align: center;
    font-size: 18px;
    color: #444;
}

h2 {
    text-align: center;
    color: #0066cc;
}

.container {
    width: 70%;
    margin: auto
